.col-sm-9, .col-sm-12, .col-sm-8 {
    padding-right: 3.125rem;
    padding-left: 3.125rem;
    padding-bottom: 4rem;
    
}
#seite{
    padding-bottom: 15rem;
}
.sidebar{
    width: 20rem;
    height: auto;
    overflow:hidden;
}
#dl{
    width:23rem;
}
#sh{
    width:15rem;}
#fb{
    width:15rem;}